
td{
  text-align: center;
}
#bus {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#bus td, #bus th {
  border: 1px solid #ddd;
  padding: 8px;
}

#bus tr:nth-child(even){background-color: #f2f2f2;}

#bus tr:hover {background-color: #ddd;}

#bus th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#table-div{
 width:100%;
 height: 100%;


}