body {
	font-family: 'Lato', sans-serif;
	overflow: hidden;
}
#selected-seats {
	border:1px solid black;
	padding: 6px 6px 6px 6px;
	height:50px;
	scroll:auto;
	border-radius:8px;
}

#totalrs {
	color:blue;
}

#back {
	 background-color:#00264d;
	border:none;
	width: 130px;
	padding: 5px 5px 5px 5px;
	color:white;
	border-radius: 8px;
    text-align: center;
    text-size:10px;
    text-decoration: none;
    cursor: pointer;
}

.cart {
	color: blue;
	display: inline-block; 
	margin-left: 5px;
}

.front-indicator {
	width: 242px;
	margin: 5px 32px 15px 32px;
	background-color: #00264d;	
	color: white;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
}
.wrapper {
	width: 5%;
	text-align: left;
}
.container {
	margin: 0 auto;
	width: 900px;
	text-align: left;
}
.booking-details {
	float: left;
	text-align: left;
	margin-left: 35px;
	font-size: 12px;
	position: relative;
	height: 400px;
}
.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}
.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 30px;
	width: 30px;
	padding-left: 5px;
	padding-right:5px;
	line-height: 25px;
	
}
div.seatCharts-seat {
	color: white;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 30px;
}

}
div.seatCharts-seat.available {
	background-color:  #00cc00;
}

div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: black;
}
div.seatCharts-seat.unavailable {
	background-color: red;
}
div.seatCharts-container {
	border-right: 1px dotted #adadad;
	width: 300px;
	padding: 20px;
	float: left;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: absolute;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	max-height: 90px;
	overflow-y: scroll;
	overflow-x: none;
	width: 170px;
}