<!DOCTYPE html>
<html>
	<head>
		<style>
			nav.navtop{
			position: fixed;
			top: 0px;
			}
		</style>
		 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Online Bus Ticket Reservation System</h1>
				<a href="script:void(0);"><i class="fas fa-user" style="font-size:30px"></i>{{user}}</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt" style="font-size:30px"></i>Logout</a>
			</div>
		</nav>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
